<!-- 購入履歴 -->
<%= link_to edit_price_record_path(record), class: "block bg-white shadow rounded-lg p-4 hover:bg-ray-50 transition" do %>
  <div class="flex justify-between items-start">
    <div>
      <p class="text-sm text-gray-500">日付： <%= l record.purchased_on, format: :short %></p>
      <p class="text-base font-semibold">金額： <%= number_to_currency(record.price, unite: "¥") %></p>
      <p class="text-sm text-gray-500">場所： <%= record.shop_name %></p>
    </div>
    <% if record.memo.present? %>
      <i class="fas fa-sticky-note text-gray-400 text-lg"></i>
    <% end %>
  </div>
<% end %>