<p><%= @resource.nickname || "ご利用者様" %>、こんにちは。</p>

<p>パスワードの再設定リクエストを受け付けました。</p>
<p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p>
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>※このリンクは一定時間で無効になります。</p>

<p>このメールに心当たりがない場合は、破棄してください。</p>

<p>—— おかいもノート</p>
